<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Welcome to Sci-Bot 🧠💬</h1>
    <h3>I answer questions related to computer science 🤖 and learn from you if I don't know the answer! 📖</h3>
    <div class="container">
        <div class="chat-box" id="chat-box">
            <div class="message bot-message">Hello! How can I assist you?</div>
        </div>
        <form id="chat-form" action="/process" method="post">
            <input type="text" name="user_input" id="user-input" autocomplete="off" placeholder="Type your message...">
            <input type="submit" value="Send">
        </form>
    </div>
    <p><a href="about_page"><button class="about-button" onclick="openPage()">About the bot</button></a></p>
    <script src="/static/scripts.js"></script>
</body>
</html>
